[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pypdf2 = "==3.0.1"
python-dotenv = "==1.0.0"
streamlit = "*"
openai = "*"
faiss-cpu = "*"
altair = "<5"
tiktoken = "*"
huggingface-hub = "*"
plotly = "*"
pydantic = "*"
duckduckgo-search = "*"
googlesearch-python = "*"
google-api-python-client = "*"
bs4 = "*"
html2text = "*"
pytorch = "*"

[dev-packages]

[requires]
python_version = "3.10"
